.location{
    top: 150px;
}
.background{
    background-color: rgba(223, 223, 223, 0.53);
}


.background2{
    background-color: #f5f5f5;
}

.width {
    width: 100%;
}

// .picture {
//     width: 150px;
//     height: 150px;
// }

.title {
    padding: 0;
    text-align: center;
}
