/* stylelint-disable max-nesting-depth*/
.dongyu-page {
  &__image-api {
    h2:nth-child(1) {
      color: rgb(250, 137, 0);
    }

    img:nth-child(2) {
      height: 100%;
      width: 35rem;
    }
  }

  &__backend-message {
    h2:nth-child(1) {
      color: rgb(180, 132, 10);
    }
    
    // h2:nth-child(7) {
    //   color: rgb(24, 122, 207);
    // }
    
    ul {
      list-style: none;
    }

    span,
    li {
      font-size: 1.3rem;
    }
  }
}

.get-regular-list {
  color: rgb(35, 83, 172);
  
  li {
    font-size: 1.5rem;
  }
}
