.content {
  // color: rgb(252, 142, 142);
}

.select {
  &__position {
    display: flex;
    left: 50%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -65%);
  }
}

// .button1 {
//   background-color: #007bf5;
//   border-radius: 5px;
//   box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
//   color: rgb(255, 255, 255);
//   height: 45px;
//   left: 50%;
//   // margin: 70px 277px 0;
//   padding: 12px 13px 12px 14px;
//   position: absolute;
//   top: 90%;
//   transform: translate(-50%, -90%);
//   width: 160px;
// }

// .button2 {
//   background-color: #0aa8dd;
//   border: none;
//   border-radius: 10px;
//   color: white;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 1.3rem;
//   left: 50%;
//   margin: 4px 2px;
//   padding: 15px 32px;
//   position: absolute;
//   text-align: center;
//   text-decoration: none;
//   top: 80%;
//   transform: translate(-50%, -80%);
// }

// .selection {
//   background-color: #fff;
//   border: solid 0.1px #707070;
//   box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
//   height: 45px;
//   padding: 12px 10px;
//   width: 110px;

//   //下面两个区别？ 用法怎么引用
//   //styles.selection.aa
//   &.aa {
//     padding: 0;
//   }
//   //styles.selection__aa
//   &__aa {
//     padding: 0;
//   }

//   &__date {
//     background-color: #fff;
//     border: solid 0.1px #707070;
//     box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
//     height: 43px;
//     padding: 0 15px;
//     width: 125px;
//   }

//   &__postcode {
//     background-color: #fff;
//     border: solid 0.1px #707070;
//     box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
//     height: 43px;
//     padding: 0 15px;
//     text-align: center;
//     width: 100px;
//   }
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   appearance: none;
// }

// input [type='number'] {
//   appearance: textfield;
// }
