.select {
  &__position {
    display: flex;
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -60%);
  }

  &__button {
    left: 50%;
    position: absolute;
    top: 74%;
    transform: translate(-50%, -74%);
  }
}
